.App {
  text-align: center;
}
.img-home-nav{

  padding: 0 0px;
  

}

.img-home{
  
  padding: 0 70% 0 0;
  font-weight: 350;

}

.img-home-random{
  
  padding: 0 62% 0 0;
  font-weight: 350;

}

.img-home-text{

  padding: 0 0% 0 5.5%;
  text-align: justify;
  font-weight: 200;

}

